@model CSIRO.Models.LoginViewModel

<div class="row">
	<div class="col-md-8">
		<form method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-control" style="min-height:100px;">
				<label asp-for="Email"></label>
				<input asp-for="Email" id="i1" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-control" style="min-height:100px;">
				<label asp-for="Password"></label>
				<input asp-for="Password" id="i2" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="form-control">
				<label asp-for="RememberMe"></label>
				<input asp-for="RememberMe" id="i3"/>
			</div>
			<button type="submit" class="btn btn-outline-primary">Login</button>
		</form>

		<p>Didn't have an account?</p>
			@Html.ActionLink("Register", "Register", "Account")
	</div>
</div>