@model CSIRO.Models.RegisterViewModel

<div class="row">
	<div class="col-md-8">
		<form method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-control" style="min-height:100px;">
				<label asp-for="Email">Email</label>
				<input asp-for="Email" id="i1" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-control" style="min-height:100px;">
				<label asp-for="Password">Password</label>
				<input asp-for="Password" id="i2" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="form-control" style="min-height:100px;">
				<label asp-for="ConfirmPassword">Confirm Password</label>
				<input asp-for="ConfirmPassword" id="i3" class="form-control" />
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-outline-primary">Register</button>
			<p>Already have an account?</p>
			@Html.ActionLink("Login", "Login", "Account")
		</form>
	</div>
</div>