<h1>Your application is successfully submitted</h1>
@*@Html.ActionLink("View MyApplication","ShowOneCandidate")*@
<br/>
@Html.ActionLink("Edit My Application","EditCandidate")
@*@Html.ActionLink("New Application","AddCandidate")*@